body {
  background-color: #dbdbdb;
}
.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.container {
  border: 1px solid #ddd;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  background-color: #fff;
  border-radius: 60px;
}
h1 {
  margin-bottom: 40px;
}
h2 {
  font-size: 32px;
  margin-bottom: 40px;
}
p {
  font-size: 18px;
  margin-bottom: 20px;
}
a{
  font-size: 24px;
  margin-bottom: 120px;
}
.countdown-container {
  font-size: 20px;
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}